.main-container {
  height: 100;
}

.prev-btn {
  margin-top: 400px;
  margin-left: 600px;
}

.next-btn {
  margin-top: 400px;
  margin-right: 600px;
}

.img-car{
  height: 700px;
  margin: 0 auto;
  width:1200px;
}
/* .text {
  font-size: large;
} */

/* .HomeMainDiv{
  height: 100px;
} */

/* .car-icon-next{
  margin-right: 200px;
} */

